header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 1.2em 4em;
    box-shadow: 0px 0px 31px -6px #E0E0E0;
    position: sticky;
    top: 0;
    z-index: 2;
}

header a {
    text-decoration: none;
}

header>h3 {
    margin: 0 2em;
    font-weight: bold;
    font-size: 1.5em;
}

header>nav {
    margin-left: auto;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

ul>li {
    margin: 0 2em;
}

li>button>a {
    color: white;
    padding: 0 1em;
}



.major-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4em;
}




#main-content {
    padding: 1em;
}

main {
    padding: 4em 5em;
}

#main-content>div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-content lottie-player {
    margin-left: 10em;
    margin-top: -5em;
}



div>h2 {
    font-size: 350%;
    max-width: 12em;
    line-height: 1.2;
}

#start-btn {
    padding: 0.5em 1em;
}

#start-btn i {
    margin-left: .5em;
}

div>img {
    border-radius: 1em;
}

#services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 4em;
    /* margin: 0 auto min(2em, 1vw); */
}

.card {
    max-width: 22em;
    border: 1px solid gainsboro;
    padding: 2em 2em;
    border-radius: 1em;
}

.card h3 {
    font-size: 125%;
    font-weight: 600;
    max-width: 12em;
}

.card>p {
    padding-top: 2em;
}


#note {
    color: grey;
    margin: 2dvh 0;
}

#home-lottie {
    overflow: hidden;
}

@media (width < 30em) {
    div>h2 {
        font-size: 200%;
        max-width: 12em;
        line-height: 1.2;
    }

    .card {
        max-width: 100%;
        padding: 2em 2em;
    }

    #services {
        margin-top: 0;
    }

    main {
        padding: 1em 2em;
    }
}